# Project: cleanning - [candy data]
### this notebook is for educational purpose . in this notebook we will do some cleanning

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">wrangling</a></li>
  
</ul>

<a id='intro'></a>
## Introduction

### Dataset Description 

> i will go through candy data 2017 , this data has :
- Internal_ID
- Q1-Going Out?: Are you actually going trick or treating yourself? "has values `Yes or No`"
- Q2-Gender: It has four different options, `Femal ,Male ,Other ,I'd rather not say`
- Q3-Age: Numerical field
- Q4-Country: Text Field, but users have written their own version of the names. Example, for America, there are entries such as USA, us, US, America so we should consider that while cleanning
- Q5-State/Province: Text Field, but users have written their own version of the names. Same as the country data.
- Q6-Joy Or Despair: All kinds of chocolate bars are the questions with three distinct options to choose from (Joy, Meh, Despair).
- Q7-Joy Other: Text Field to write items not included above that give you JOY. Lots of missing values.
- Q8-Despair Other: Text Field ti write items not included above that give you DESPAIR. Lots of missing values.
- Q9-Other Comments: Text Field. Lots of missing values.
- Q10-Dress: Binary field. Missing values present
- Unnamed: 113
- Q11-Day: Binary Answer Field. Missing values present

# 1- import packages and load data

In [30]:
import pandas as pd
import numpy as np

df = pd.read_excel("candyhierarchy2017.xlsx")

print("Data Shape:", df.shape)
df.head()

Data Shape: (2460, 120)

C:\Users\user\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:85: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

<a id='wrangling'></a>
## Data Wrangling



### General Properties

# 2- show some general properties for the data

In [40]:
print("Column Names:")
print(df.columns)

# Dataset shape 
print("\nShape of Dataset:")
print(df.shape)

# Data types of each column
print("\nData Types:")
print(df.dtypes)

# Number of missing values in each column
print("\nMissing Values per Column:")
print(df.isnull().sum())

# General statistics 
print("\nStatistical Summary:")
print(df.describe())

Column Names:
Index(['Internal ID', 'Q1: GOING OUT?', 'Q2: GENDER', 'Q3: AGE', 'Q4: COUNTRY',
       'Q5: STATE, PROVINCE, COUNTY, ETC', 'Q6 | 100 Grand Bar',
       'Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)',
       'Q6 | Any full-sized candy bar', 'Q6 | Black Jacks',
       ...
       'Q8: DESPAIR OTHER', 'Q9: OTHER COMMENTS', 'Q10: DRESS', 'Unnamed: 113',
       'Q11: DAY', 'Q12: MEDIA [Daily Dish]', 'Q12: MEDIA [Science]',
       'Q12: MEDIA [ESPN]', 'Q12: MEDIA [Yahoo]', 'Click Coordinates (x, y)'],
      dtype='object', length=120)

Shape of Dataset:
(2460, 120)

Data Types:
Internal ID                   int64
Q1: GOING OUT?               object
Q2: GENDER                   object
Q3: AGE                      object
Q4: COUNTRY                  object
                             ...
Q12: MEDIA [Daily Dish]     float64
Q12: MEDIA [Science]        float64
Q12: MEDIA [ESPN]           float64
Q12: MEDIA [Yahoo]          float64
Click Coordinates (x, y)     object
Length: 120, dtype: object

Missing Values per Column:
Internal ID                    0
Q1: GOING OUT?               110
Q2: GENDER                    41
Q3: AGE                       84
Q4: COUNTRY                   64
                            ...
Q12: MEDIA [Daily Dish]     2375
Q12: MEDIA [Science]        1098
Q12: MEDIA [ESPN]           2361
Q12: MEDIA [Yahoo]          2393
Click Coordinates (x, y)     855
Length: 120, dtype: int64

Statistical Summary:
        Internal ID  Q12: MEDIA [Daily Dish]  Q12: MEDIA [Science]  \
count  2.460000e+03                     85.0                1362.0
mean   9.028016e+07                      1.0                   1.0
std    7.435532e+03                      0.0                   0.0
min    9.025877e+07                      1.0                   1.0
25%    9.027520e+07                      1.0                   1.0
50%    9.027780e+07                      1.0                   1.0
75%    9.028242e+07                      1.0                   1.0
max    9.031480e+07                      1.0                   1.0

       Q12: MEDIA [ESPN]  Q12: MEDIA [Yahoo]
count               99.0                67.0
mean                 1.0                 1.0
std                  0.0                 0.0
min                  1.0                 1.0
25%                  1.0                 1.0
50%                  1.0                 1.0
75%                  1.0                 1.0
max                  1.0                 1.0

# 3- write summary about what you get form the above functions
> #### tips : this summary can be about : if there is any missing values , if there a wrong data type , if there a wrong range of values , ....

1. **Missing Values:**
   - Several columns contain a significant number of missing values, especially in:
     - `Q7: JOY OTHER`
     - `Q8: DESPAIR OTHER`
     - `Q9: OTHER COMMENTS`
     - `Q10: DRESS`
     - `Q11: DAY`

2. **Data Types:**
   - Most columns are of type string, even those that should be numeric.
   - `Q3: AGE` should be a numeric field.

# cleaning

### 4- drop all the useless columns and  rows with too much NaN , 
> tip : useless columns can be like `Internal ID`and can be also columns with too much NaN 
- rename columns for easy access

In [42]:
# Drop Internal ID column
df.drop(columns=['Internal ID'], inplace=True)

# Drop columns with more than 80% missing values
threshold = len(df) * 0.8
df.dropna(axis=1, thresh=threshold, inplace=True)

# Drop rows with more than 50% missing values
row_threshold = df.shape[1] * 0.5
df.dropna(axis=0, thresh=row_threshold, inplace=True)


print("Shape after dropping useless columns and rows:", df.shape)

Shape after dropping useless columns and rows: (2427, 7)

### 5 - clean `going out` column 
> tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [44]:
print("Unique values before cleaning:", df['Q1: GOING OUT?'].unique())

df['Q1: GOING OUT?'] = df['Q1: GOING OUT?'].fillna('Unknown')

print("Unique values after cleaning:", df['Q1: GOING OUT?'].unique())
print("Missing values in Going_Out:", df['Q1: GOING OUT?'].isnull().sum())

Unique values before cleaning: ['No' nan 'Yes']
Unique values after cleaning: ['No' 'Unknown' 'Yes']
Missing values in Going_Out: 0

### 6 - clean ` gender` column 
> tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [46]:
df['Q2: GENDER'] = df['Q2: GENDER'].str.strip().str.title()  # Capitalize first letter

df['Q2: GENDER'] = df['Q2: GENDER'].replace({
    'Femal': 'Female',
    'F': 'Female',
    'M': 'Male',
    "I'd Rather Not Say": 'Prefer not to say',
    'Na': 'Prefer not to say'
})

df['Q2: GENDER'] = df['Q2: GENDER'].fillna('Prefer not to say')

print("Unique Gender values after cleaning:")
print(df['Q2: GENDER'].unique())

print("Missing values in Gender:", df['Q2: GENDER'].isnull().sum())

Unique Gender values after cleaning:
['Male' 'Female' "I'D Rather Not Say" 'Prefer not to say' 'Other']
Missing values in Gender: 0

### 7 - clean ` age` column 
> tip : note the type of age column , and NaN values
 - try to use `to_numeric` 
 - tip : you should choose which best value to put in place of these NaNs ( mean, median, ....etc)

In [48]:
df['Q3: AGE'] = pd.to_numeric(df['Q3: AGE'], errors='coerce')

df = df[(df['Q3: AGE'] >= 5) & (df['Q3: AGE'] <= 100)]

median_age = df['Q3: AGE'].median()
df['Q3: AGE'] = df['Q3: AGE'].fillna(median_age)

print("Missing values in Age after cleaning:", df['Q3: AGE'].isnull().sum())
print("Age range:", df['Q3: AGE'].min(), "to", df['Q3: AGE'].max())

Missing values in Age after cleaning: 0
Age range: 6.0 to 100.0

C:\Users\user\AppData\Local\Temp\ipykernel_2308\346782992.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Q3: AGE'] = df['Q3: AGE'].fillna(median_age)

### 8 - clean ` country` column
> tip : note that country column has country names with different writing ways 
  - use fuzzywuzzy to deal with this problem
  - you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [15]:
%pip install fuzzywuzzy python-Levenshtein

Requirement already satisfied: fuzzywuzzy in c:\users\user\anaconda3\lib\site-packages (0.18.0)
Requirement already satisfied: python-Levenshtein in c:\users\user\anaconda3\lib\site-packages (0.27.1)
Requirement already satisfied: Levenshtein==0.27.1 in c:\users\user\anaconda3\lib\site-packages (from python-Levenshtein) (0.27.1)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.9.0 in c:\users\user\anaconda3\lib\site-packages (from Levenshtein==0.27.1->python-Levenshtein) (3.13.0)
Note: you may need to restart the kernel to use updated packages.

In [50]:
from fuzzywuzzy import process

df['Q4: COUNTRY'] = df['Q4: COUNTRY'].str.strip().str.lower()

df['Q4: COUNTRY'] = df['Q4: COUNTRY'].fillna('unknown')

valid_countries = [
    'usa', 'canada', 'uk', 'germany', 'netherlands', 'japan', 'china',
    'australia', 'france', 'mexico', 'spain', 'unknown'
]


def match_country(country):
    if pd.isnull(country) or country == '':
        return 'unknown'
    best_match, score = process.extractOne(country, valid_countries)
    return best_match if score > 80 else 'other'

df['Q4: COUNTRY'] = df['Q4: COUNTRY'].apply(match_country)

print("Unique cleaned countries:", df['Q4: COUNTRY'].unique())

C:\Users\user\AppData\Local\Temp\ipykernel_2308\4006948262.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Q4: COUNTRY'] = df['Q4: COUNTRY'].str.strip().str.lower()
C:\Users\user\AppData\Local\Temp\ipykernel_2308\4006948262.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Q4: COUNTRY'] = df['Q4: COUNTRY'].fillna('unknown')

Unique cleaned countries: ['usa' 'canada' 'unknown' 'other' 'uk' 'mexico' 'france' 'netherlands'
 'germany' 'australia' 'japan' 'china' 'spain']

C:\Users\user\AppData\Local\Temp\ipykernel_2308\4006948262.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Q4: COUNTRY'] = df['Q4: COUNTRY'].apply(match_country)

### 9 - clean ` area` column
> tip : area column has the same problem as country columns , but looking at all it's unique values may give us another way to deal with it rather than try to fix it

In [52]:
df['Q5: STATE, PROVINCE, COUNTY, ETC'] = df['Q5: STATE, PROVINCE, COUNTY, ETC'].str.strip().str.lower()

df['Q5: STATE, PROVINCE, COUNTY, ETC'] = df['Q5: STATE, PROVINCE, COUNTY, ETC'].fillna('unknown')

common_states = ['california', 'texas', 'new york', 'florida', 'illinois', 'washington']

def simplify_state(state):
    if state in common_states:
        return state.title()
    elif state == 'unknown':
        return 'Unknown'
    else:
        return 'Other'

df['Q5: STATE, PROVINCE, COUNTY, ETC'] = df['Q5: STATE, PROVINCE, COUNTY, ETC'].apply(simplify_state)

print("Unique cleaned states:", df['Q5: STATE, PROVINCE, COUNTY, ETC'].unique())

Unique cleaned states: ['Other' 'Unknown' 'California' 'Texas' 'New York' 'Florida' 'Illinois'
 'Washington']

C:\Users\user\AppData\Local\Temp\ipykernel_2308\2928425728.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Q5: STATE, PROVINCE, COUNTY, ETC'] = df['Q5: STATE, PROVINCE, COUNTY, ETC'].str.strip().str.lower()
C:\Users\user\AppData\Local\Temp\ipykernel_2308\2928425728.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Q5: STATE, PROVINCE, COUNTY, ETC'] = df['Q5: STATE, PROVINCE, COUNTY, ETC'].fillna('unknown')
C:\Users\user\AppData\Local\Temp\ipykernel_2308\2928425728.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Q5: STATE, PROVINCE, COUNTY, ETC'] = df['Q5: STATE, PROVINCE, COUNTY, ETC'].apply(simplify_state)

### 10 - clean ` Q6` columns
>- tip : Q6 has all kinds of chocolate bars and questions with three distinct options to choose from (Joy, Meh, Despair).
- so all the column that has Q6 is a candy name , so you should go through all these column and you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [54]:
q6_candies = [col for col in df.columns if col.startswith('Q6')]

df[q6_candies] = df[q6_candies].fillna('Unknown')

print("Any NaNs left in Q6 columns:", df[q6_candies].isnull().sum().sum())  # يجب تكون 0

for col in q6_candies[:100]: 
    print(f"{col} unique values: {df[col].unique()}")

Any NaNs left in Q6 columns: 0.0

### 11 - clean ` dress` column
>tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [56]:
print("Unique values before cleaning:", df['Q10: DRESS'].unique())


dress_mode = df['Q10: DRESS'].mode()[0]

df['Q10: DRESS'] = df['Q10: DRESS'].fillna(dress_mode)

print("Missing values after cleaning:", df['Q10: DRESS'].isnull().sum())
print("Unique values after cleaning:", df['Q10: DRESS'].unique())

Unique values before cleaning: ['White and gold' 'Blue and black']
Missing values after cleaning: 0
Unique values after cleaning: ['White and gold' 'Blue and black']

C:\Users\user\AppData\Local\Temp\ipykernel_2308\3803573389.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Q10: DRESS'] = df['Q10: DRESS'].fillna(dress_mode)

### 12 - clean ` day` column
>tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [58]:
print("Unique values before cleaning:", df['Q11: DAY'].unique())

day_mode = df['Q11: DAY'].mode()[0]

df['Q11: DAY'] = df['Q11: DAY'].fillna(day_mode)

print("Missing values after cleaning:", df['Q11: DAY'].isnull().sum())
print("Unique values after cleaning:", df['Q11: DAY'].unique())

Unique values before cleaning: ['Sunday' 'Friday']
Missing values after cleaning: 0
Unique values after cleaning: ['Sunday' 'Friday']

C:\Users\user\AppData\Local\Temp\ipykernel_2308\4065848978.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Q11: DAY'] = df['Q11: DAY'].fillna(day_mode)

### 13 - check
> after finish cleaning you should make sure your data is clean and that :
- there is no wrong data type
- there is no NaN values 
- all the column are cleaing and ready for the next step `EDA`

In [60]:
print("Checking for missing values:")
missing = df.isnull().sum()
print(missing[missing > 0]) 

print("\nChecking data types:")
print(df.dtypes)

print("\nSummary of dataset:")
print(df.info())

print("\nDataset Shape:", df.shape)

Checking for missing values:
Series([], dtype: int64)

Checking data types:
Q1: GOING OUT?                       object
Q2: GENDER                           object
Q3: AGE                             float64
Q4: COUNTRY                          object
Q5: STATE, PROVINCE, COUNTY, ETC     object
Q10: DRESS                           object
Q11: DAY                             object
dtype: object

Summary of dataset:
<class 'pandas.core.frame.DataFrame'>
Index: 2347 entries, 1 to 2459
Data columns (total 7 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Q1: GOING OUT?                    2347 non-null   object
 1   Q2: GENDER                        2347 non-null   object
 2   Q3: AGE                           2347 non-null   float64
 3   Q4: COUNTRY                       2347 non-null   object
 4   Q5: STATE, PROVINCE, COUNTY, ETC  2347 non-null   object
 5   Q10: DRESS                        2347 non-null   object
 6   Q11: DAY                          2347 non-null   object
dtypes: float64(1), object(6)
memory usage: 146.7+ KB
None

Dataset Shape: (2347, 7)

### 14 - write a summary about all the cleaning steps


1. **Import packages and load dataset**
2. **Explore general properties and detect issues**
3. **Drop useless columns and rows with excessive NaNs**
4. **Rename columns for easier access**
5. **Clean `Going Out` column** → fill NaNs with `"Unknown"`
6. **Clean `Gender` column** → fix types and fill NaNs with `"Prefer not to say"`
7. **Clean `Age` column** → convert to numeric, remove out-of-range values, fill NaNs with **median**
8. **Clean `Country` column** → unify format using `fuzzywuzzy`, fill NaNs with `"unknown"`
9. **Clean `State` column** → simplify and group uncommon entries as `"Other"` or `"Unknown"`
10. **Clean `Q6:` candy rating columns** → fill NaNs with `"Unknown"`
11. **Clean `Dress` column** → fill NaNs with **mode**
12. **Clean `Day` column** → fill NaNs with **mode**